.message_wrapper {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 10px;
}
.avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-top: 23px;
}
@media (max-width: 920px) {
  .avatar {
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 480px) {
  .avatar {
    width: 26px;
    height: 26px;
  }
}
.avatar_type_nomargin {
  margin-top: 0;
}
.avatar_type_hide {
  visibility: hidden;
}
.avatar_type_user {
  visibility: hidden;
}
.author {
  display: flex;
  font-size: 12px;
  margin-bottom: 5px;
}
.author_author_bot {
  justify-content: flex-start;
}
.author_author_user {
  display: none;
  justify-content: flex-end;
}
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.messageBox_time {
  /* display: none; */
  /* font-family: SF Pro Text; */
  font-size: 10px;
  font-weight: 400;
  /* line-height: 15px; */
  margin-bottom: 5px;
  text-align: right;

  text-align: end;
}

.button {
  display: block;
  border: 0;
  background-color: #e9e9eb;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-image: url("../attachment-download-icon.svg");
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;
}
.button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.banner_wrapper {
  display: flex;
  width: 410px;
  border-radius: 25px;
  overflow: hidden;
  /* background-color: #fff; */
  background-color: transparent;
  /* background-color: red; */

  box-shadow: 0px 4px 12px 0px #00000026;
}

@media (max-width: 920px) {
  .banner_wrapper {
    max-width: 310px;
  }
}
@media (max-width: 480px) {
  .banner_wrapper {
    max-width: 210px;
  }
}
.banner {
  width: 100%;
  height: 100%;
}
/* rgb(255,222,173) */
/* rgb(255,250,240) */
